<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="admin/base::layout(~{::section})">


<body class="animsition">
<section>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <span class="title"><h3 style="padding-left: 40px;color: #fff;">Job Portal</h3></span>
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow"  th:href="@{/dashboard}">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            
                        </li>
                        <!-- <li class="has-sub">
                            <a class="js-arrow" th:href="" th:th:href="@{/all_job_list}">
                                <i class="fa fa-book" aria-hidden="true"></i>All Jobs</a>
                            
                        </li>-->
                        <li class="has-sub">
                            <a href="" th:href="@{/all_applied_jobs}">
                               <i class="fa fa-bookmark" aria-hidden="true"></i>All Jobs</a>
                        </li>
                        </li>
                        <li class="has-sub">
                            <a href="" th:href="@{/all_applied_jobs}">
                               <i class="fa fa-bookmark" aria-hidden="true"></i>Applied Jobs</a>
                        </li>
                       
                    </ul>
                </div>
            </nav>
            
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                            <span class="title"><h3 style="padding-left: 40px;color: #fff;">Job Portal</h3></span>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                         <li class="has-sub">
                            <a class="js-arrow" href="" th:href="@{/dashboard}">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            
                        </li>
                         <li class="has-sub">
                            <a class="js-arrow" href="" th:href="@{/all_job_list}">
                                <i class="fa fa-book" aria-hidden="true"></i>All Jobs</a>
                            
                        </li>
                       <li class="has-sub">
                            <a href="" th:href="@{/all_applied_jobs}">
                                <i class="fa fa-bookmark" aria-hidden="true"></i>Applied Jobs</a>
                        </li>
                        
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div class="header-button">
                                  <h2 style="color: white">Post a Job</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->

            <div class="main-content">
                
               <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Edit the Profile Card Form</strong>
                                    </div>
                                    <div class="card-body card-block">
                                    
                                    <!-- The form submit method will redirect "/job_post" which is placed in JobController-->
                                    <form action="#" th:action="@{/updates_profiles}" th:object="${user}" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        	
                                        	<input type="hidden" class="form-control" th:value="${user.userId}" name="userId">
                                        	<div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">First Name</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" class="form-control" th:value="${user.firstName}" name="firstName">
                                                   
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Last Name</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" class="form-control" th:value="${user.lastName}" name="lastName">
                                                    
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Address</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" class="form-control" th:value="${user.address}" name="address">
                                                    
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Mobile No.</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" class="form-control" th:value="${user.contact}" name="contact">
                                                    
                                                </div>
                                            </div>
                                           
                                    		<div class="card-footer d-grid gap-2">
                                    			<div class="d-grid gap-2 col-3 mx-auto">
                                    				<button type="submit" class="btn btn-primary btn-lg ">
                                            			<i class="fa fa-dot-circle-o"></i> Edited
                                        			</button>
                                    			</div>
                                    		</div>    
                                        
                                            
                                       
                                   
                                    
                                    
                                </form>
                                    
                           </div>
                                    
                      </div>
                              
        <!-- END PAGE CONTAINER-->

    </div>
    
</div>
</div>
</div>
</section>

</body>

</html>
<!-- end document-->
